<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>title</title>
<link rel="stylesheet" href="/Pstyle.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

	<div class="bg-image"></div>
	<div class="bg-image2"></div>
	<div class="bg-image"></div>
	<div class="bg-image2"></div>
	<div class="bg-image"></div>
	<div class="bg-image2"></div>
	<div class="bg-image"></div>
	<div class="bg-image2"></div>
	<div class="bg-image"></div>
	<div class="bg-image2"></div>


	<div class="banner">
		<h1 style="text-align: center; color: rgb(79, 103, 140)">Pojo
			generation using Picocog API</h1>
		<h2 style="text-align: center; color: rgb(79, 103, 140)">
			Picocog is a tiny library for use in formatting text programatically
			(indents and placeholders) for the purposes of source code
			generation. Picocog emits text via Java code. It has three core
			goals: Generate cleanly indented code easily, Support out-of-sequence
			line injection, Be easy to debug.<br>
		</h2>

	</div>
	<hr style="position: absolute; top: 32%; width: 100%;">
	<br>
	<div class="navbar">
		<!-- <p style="font-family:Arial Black; color:rgb(69, 74, 81); text-shadow:2px 2px 2px grey;"><i>@navbar</i></p> -->
		<a th:href="@{/index}">Home</a>

		<div class="dropdown">
			<button class="dropbtn" onclick="showLinks()">
				Dropdown 
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content" id="dropContent">
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
				<a href="#">Link 3</a>
			</div>
		</div>

	</div>
	<br>
	<div class="wrapper">

		<div class="columnLeft">
			<form method="post" action="/showKeyspaces">
				<!-- <label>Click below to see all available keyspaces</label><br> -->
				<input type="submit" value="View available keyspaces" />
			</form>
			<br>
			<table th:if="${keyspaces}">
				<tr>
					<th>keyspace_name</th>
					<th></th>
				</tr>
				<tr th:each="i:${keyspaces}">
					<!-- <td th:text="${i}"></td> -->
					<!-- <div th:if="${#strings.startsWith(i.get('keyspace_name'),'people') }"> -->
					<td th:text="${i.get('keyspace_name')}"></td>
					<td>
						<form method="post"
							th:action="@{/viewTables/__${hostIp}__/__${i.get('keyspace_name')}__}">
							<input type="submit" value="View Table Information" />
						</form>
					</td>
					<!-- </div> -->
				</tr>
			</table>
		</div>
		<!-- <div class="seperator"></div> -->
		<div class="columnRight">
			<h3
				style="font-family: Arial Black; color: rgb(49, 75, 117); text-shadow: 1px 1px 1px grey;">
				Select the tables for which you want the Pojo's <br> to be
				generated and click the button below
			</h3>

			<br>
			<div th:each="rowIterator:${colInfo}">

				<table>
					<tr>
						<span th:each="iterator:${rowIterator[0]}"
							style="text-align: center;">
							<form method="post" th:action="@{/genPojo/__${hostIp}__/__${keyspaceName}__}" id="submitTable">
								<label class="container"> <input type="checkbox"
									name="check" th:value="${iterator.get('Table_Name')}" /> <span
									class="checkmark"></span>
								</label>

								<h2
									style="font-family: Arial Black; color: rgb(49, 75, 117); text-shadow: 1px 1px 1px grey; text-align: center; margin: auto; display: inline; position: relative; left: 2%;">TableName:
								</h2>
								<h2 th:text="${iterator.get('Table_Name')}"
									th:id="${iterator.get('Table_Name')}"
									style="font-family: Arial Black; color: rgb(49, 75, 117); text-shadow: 1px 1px 1px grey; text-align: center; margin: auto; display: inline; position: relative; left: 2%;"></h2>
						</span>

					</tr>

					<tr style="padding-top: 10px">
						<th>column_name</th>
						<th>clustering_order</th>
						<th>kind</th>
		  				<th>type</th>
					</tr>


					<tr th:each="colIterator:${rowIterator}">
						<td th:text="${colIterator.get('Column_Name')}"></td>
						<td th:text="${colIterator.get('Clustering_Order')}"></td>
						<td th:text="${colIterator.get('Kind')}"></td>
						<td th:text="${colIterator.get('Type')}"></td>
					</tr>



					
				</table>
				<br> <br>
			</div>
			<input type="number" id="userid" name="userid" value="0" style="display:none" />
			<label
				style="font-family: Arial Black; color: rgb(49, 75, 117); text-shadow: 1px 1px 1px grey;">Enter
				package name:</label><br> <input type="text" name="packagename"
				style="font-family: Arial Black; color: rgb(69, 74, 81); text-shadow: 1px 1px 1px grey;" /><br>
			<br> <label style="font-family: Arial Black; color: rgb(49, 75, 117); text-shadow: 1px 1px 1px grey;">Enter
			 a name for the project:</label><br> <input type="text" name="projectname"
				style="font-family: Arial Black; color: rgb(69, 74, 81); text-shadow: 1px 1px 1px grey;" /><br>
			<br>
			<input type="number" id="appid" name="appid" value="0"	style="position: relative; display: none" /> 
			<input type="number" id="orgid" name="orgid" value="0" style="position: relative; display: none" /> 
			<input type="text" id="activeid" name="active" value="true" style="position: relative; display: none" /> <br>
			 
			<input type="submit" name="submit" value="Generate Code" />
			</form>
			<br> <br> <span th:if="${outputMsg}"
				style="display: inline"> <i class="fa fa-thumbs-up"
				id="thumbsup"></i>

				<h2 th:text="${outputMsg}" style="display: inline; left: 6%;"></h2>
				<br>
			<br>

				<form method="post" th:action="@{/downloadPicocogCode/__${zip_name}__}">
					<input type="submit" name="submit"
						value="Click here to download code" />
				</form>
			</span>
	
		</div>

	</div>

	<script>
		function openNav() {
			document.getElementById("mySidenav").style.width = "250px";
		}
		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
		}

		function search() {
			var formId = document.getElementById("findPageId");
			//var x = document.getElementById("frm1");
			var text = "";
			var i;
			for (i = 0; i < formId.length; i++) {
				text += x.elements[i].value + "<br>";
			}

			window.location = "#" + text + "";
		}
		
		function showLinks()
		{
			var div = document.getElementById("dropContent");

			if(div.style.display === "none")
				div.style.display = "block";
			else 
				div.style.display = "none";
		}
	</script>

</body>
</html>