<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>e-comm website</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/mycss.css"/>
</head>
<body>
 
 <div class="wrapper">
	<div class="navbar">
		<a href="/index" class="navbar_brand">e-Commerce</a>
		<a href="/prod" class="nav_right">Add product</a>
		<a href="/signup" class="nav_right">Register organizations</a>
		<a href="/save-user" class="nav_right">Register</a>
		<a href="/index" class="nav_right" style="margin-right:10px;">Login</a>
	</div>

 
 	<div class="column left">
 		<img src="/cart.png" class="cartImg"/>
 	</div>
 	
 	<div class="column right">
 		<form class="fm" method="post" action="#" th:action="@{/login-user}">
 			<label class="lbs">Enter username</label><br>
 			<input type="text" class="ip" name="username" placeholder="username"/><br><br>
 			<label class="lbs">Enter password</label><br>
 			<input type="password" class="ip" name="password" placeholder="password"/><br>
 			<br>
 			<input type="submit" name="submit"/><br>
 		</form>
 		<br>
 		<a href="save-user" style="font-size:18px;">New user? Register here</a>
 	</div>
 </div>
 
 <!-- <p><a href="/signup">Add a new organization</a></p>  -->
</body>
</html>