<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>e-comm website</title>
</head>
<body>
<form action="#" th:action="@{saveorg}" method="post" th:object="${org}">
	<fieldset>
	Enter name of the organization: <br>
		<input type="text" th:field="*{name}"/> <br>
	Enter type of products: <br>
		<input type="text" th:field="*{type}"/> <br>
	Enter number of employees working for the organization: <br>
		<input type="number" th:field="*{no_of_emps}"/> <br>
	Enter profits of the organization: <br>
		<input type="number" step="0.1" th:field="*{profits}"/> <br>
	Enter where the organization is based: <br>
		<input type="text" th:field="*{base}"/> <br>
	</fieldset>
</form>
</body>
</html>