<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Welcome to e-Commerce</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/mycss.css"/>
</head>
<body>
<div class="wrapper">

<div class="navbar">
		<a href="/index" class="navbar_brand">e-Commerce</a>
		<a href="#" class="nav_right">Registered organizations</a>
		<a href="/save-user" class="nav_right">Register</a>
		<a href="/index" class="nav_right" style="margin-right:10px;">Login</a>
</div>

<div class="column left">
 		<img src="/cart.png" class="cartImg"/>
 </div>
 
 
<div class="column right">
<form action="#" th:action="@{/sUser}" th:object="${user}"  method="POST" class="fm">
	
	<!-- <input type="hidden" th:field="*{id}"/> -->
	
	<label class="lbs">Enter your organization name: </label><br>
		<input type="text"  id="organization" class="ip" name="organization"/> <br>
	<label class="lbs">Enter name: </label><br>
		<input type="text"  id="name" name="name" class="ip"/> <br>
	<label class="lbs">Enter username: </label><br>
		<input type="text"  id="username" name="username" class="ip"/> <br>
	<label class="lbs">Enter email: </label><br>
		<input type="text" id="email" name="email" class="ip"/> <br>
	<label class="lbs">Enter password: </label><br>
		<input type="password" id="password" name="password" class="ip"/> <br>
	<label class="lbs">Enter phone number: </label><br>
		<input type="text" name="ph_no" id="ph_no" class="ip"/> <br>
	<label class="lbs">Enter domain: </label><br>
		<input type="text" name="domain" id="domain" class="ip"/> <br><br>
		<input type="submit" th:value="Submit"/> 
	
  </form>  
  </div> 
  </div>
</body>
</html>