<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Table Metadata</title>
<link rel="stylesheet" href="/style2.css" />
</head>
<body>
	<div class="wrapper">
		<div class="navbar">
			<!-- 	<a href="#" class="nav_right">Add product</a>
		<a href="#" class="nav_right">Register organizations</a>
		<a href="#" class="nav_right">Register</a>
		<a href="#" class="nav_right" style="margin-right:10px;">Login</a>    -->



			<h1 style="text-align: center;">Automatic code generation</h1>
			<h2 style="text-align: center;">This is an app which provides a
				simple user interface for users to generate code automatically to
				build a spring boot app</h2>

		</div>

		<div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<a href="/index">Index</a>


		</div>

		<span
			style="font-size: 30px; cursor: pointer; color: rgb(49, 75, 117)"
			onclick="openNav()">&#9776; open</span> <br>
		<br>
		<table style="text-align: center; margin: auto;">
			<tr>
				<th>Table name</th>
				<th>Column name</th>
				<th>Column size</th>
				<th>Is nullable</th>
				<th>Auto increment</th>
				<th>Primary keys</th>
				<th>Foreign keys</th>
				<th>Parent Primary key</th>
				<th>Parent primary key table</th>
			</tr>
			<tr>
				<!-- 		<td>
				<div th:each="i,prodStat:${table_name} " th:class="${prodStat.odd}? 'odd'" >
					<div th:each="j:${i}">
					<p th:text="${j}"></p>
					</div>
				</div>
			</td>		
			<td>
				<div th:each="i,prodStat:${col_name}" th:class="${prodStat.odd}? 'odd'">
					<div th:each="j:${i}">
					<p th:text="${j}"></p>
					</div>
				</div>
			</td>
			<td>
				<div th:each="i,prodStat:${col_size}" th:class="${prodStat.odd}? 'odd'">
					<div th:each="j:${i}">
					<p th:text="${j}"></p>
					</div>
				</div>
			</td>    -->

				<td>
					<div th:each="i:${table_name}"
						style="font-family: Arial Black; color: rgb(69, 74, 81); text-shadow: 2px 2px 2px grey;">
						<div th:each="j:${i}">
							<p th:text="${j}"></p>
						</div>
					</div>
				</td>
				<td>
					<div th:each="i:${col_name}"
						style="font-family: Arial Black; color: rgb(69, 74, 81); text-shadow: 2px 2px 2px grey;">
						<div th:each="j:${i}">
							<p th:text="${j}"></p>
						</div>
					</div>
				</td>
				<td>
					<div th:each="i:${col_size}"
						style="font-family: Arial Black; color: rgb(69, 74, 81); text-shadow: 2px 2px 2px grey;">
						<div th:each="j:${i}">
							<p th:text="${j}"></p>
						</div>
					</div>
				</td>
				<td>
					<div th:each="i:${nullable}"
						style="font-family: Arial Black; color: rgb(69, 74, 81); text-shadow: 2px 2px 2px grey;">
						<div th:each="j:${i}">
							<p th:text="${j}"></p>
						</div>
					</div>
				</td>
				<td>
					<div th:each="i:${auto_incr}"
						style="font-family: Arial Black; color: rgb(69, 74, 81); text-shadow: 2px 2px 2px grey;">
						<div th:each="j:${i}">
							<p th:text="${j}"></p>
						</div>
					</div>
				</td>
				<td>
					<div th:each="i:${pk}"
						style="font-family: Arial Black; color: rgb(69, 74, 81); text-shadow: 2px 2px 2px grey;">
						<div th:each="j:${i}">
							<p th:text="${j}"></p>
						</div>
					</div>
				</td>

				<td>
					<div th:each="i:${fk}"
						style="font-family: Arial Black; color: rgb(69, 74, 81); text-shadow: 2px 2px 2px grey;">
						<div th:each="j:${i}">
							<p th:text="${j}"></p>
						</div>
					</div>
				</td>
				<td>
					<div th:each="i:${pk_fk}"
						style="font-family: Arial Black; color: rgb(69, 74, 81); text-shadow: 2px 2px 2px grey;">
						<div th:each="j:${i}">
							<p th:text="${j}"></p>
						</div>
					</div>
				</td>
				<td>
					<div th:each="i:${pk_table}"
						style="font-family: Arial Black; color: rgb(69, 74, 81); text-shadow: 2px 2px 2px grey;">
						<div th:each="j:${i}">
							<p th:text="${j}"></p>
						</div>
					</div>
				</td>
			</tr>
		</table>

		<!-- <table>
	<tr>
	<th>data</th>
	</tr>
		<tr th:each="dd : ${table_data}">
			<td th:text="${dd}" />
			
		</tr>
	</table> -->

		<!-- 	<table class="showTables">
		<tr th:each="l:${checkedList}">
			<td th:text="${l}"></td>
		</tr>
	</table>   -->
	</div>

	<script>
		function openNav() {
			document.getElementById("mySidenav").style.width = "250px";
		}

		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
		}
	</script>
</body>
</html>