<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Automate code generation</title>
<link rel="stylesheet" href="/style.css" />

</head>
<body>

<div class="navbar">  
		<!-- 	<a href="#" class="nav_right">Add product</a>
		<a href="#" class="nav_right">Register organizations</a>
		<a href="#" class="nav_right">Register</a>
		<a href="#" class="nav_right" style="margin-right:10px;">Login</a>    -->

		
			
				<h1 style="text-align:center;">Automatic code generation</h1>
				<h2 style="text-align:center;">This is an app which provides a simple user interface for users to generate code automatically to build a spring boot app</h2>

	</div>

	<div class="wrapper">
			

	<form method="post" action="#" th:action="@{/getTables}" id="fm">

		<br> <input type="submit" name="submit" class="show_btn"
			value="Show available schemas" />
	</form>


	<br>

	<table class="t_names">
		<tr id="header">
			<th>Name</th>
		</tr>
		<tr th:each="tbs: ${tb}">
			<td th:text="${tbs}">Name</td>
			<td>
				<!--  <form method="get" action="#" th:action="@{/btn_action(name=${tbs})}">-->
				<form method="get" action="#" th:action="@{/selectedSchema}">
					<input type="submit" name="submit" value="View tables" class="edt" />
				</form>
			</td>
		</tr>
	</table>


	</div>

	<script type="text/javascript">
		var model=document.getElementByClassName("navbar");
		window.onclick=function(event)
		{
			if(event.target==model)
			{
				location.replace("https://www.w3schools.com/jsref/met_document_getelementsbyclassname.asp");
			}
		}

		
	</script>
</body>
</html>