<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Automate code generation</title>
<link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div class="wrapper">
	<div class="navbar">
		<a href="/index" class="navbar_brand">e-Commerce</a>
		<a href="#" class="nav_right">Add product</a>
		<a href="#" class="nav_right">Register organizations</a>
		<a href="#" class="nav_right">Register</a>
		<a href="#" class="nav_right" style="margin-right:10px;">Login</a>
	</div>
	
	<div class="column left">
		<p>Click the button below to start creating a new application</p>
		<br>
 		<!-- <button type="button"><a href="/exec">Create new project</a></button>  -->
 		<button type="button" onclick="calc()">Create new project</button>
 	</div>
 	
 	<div class="column right">
 		
 	</div>
</div>

<script type="text/javascript">
function calc()
{
	var myclass=Java.type("services.cmdExecute");
	myclass.exec();
}
	
</script>
</body>
</html>