<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View Tables</title>
<link rel="stylesheet" href="/style.css" />
<!-- <script src="/disp_header.js"></script>   -->
</head>
<body>


	<div class="wrapper">

		<div class="navbar">  
		<!-- 	<a href="#" class="nav_right">Add product</a>
		<a href="#" class="nav_right">Register organizations</a>
		<a href="#" class="nav_right">Register</a>
		<a href="#" class="nav_right" style="margin-right:10px;">Login</a>    -->

		
			
				<h1 style="text-align:center;">Automatic code generation</h1>
				<h2 style="text-align:center;">This is an app which provides a simple user interface for users to generate code automatically to build a spring boot app</h2>

	</div>

		<div class="column left">
			<table class="showTables">

				<tr th:each="l: ${list}">
					<td><input type="checkbox" name="check" value="${l}"></td>
					<td th:text="${l}"></td>
					<!-- 	<td><button th:id="click" onclick="myfn()" name="tbl"
						th:value="${l}">Open table</button></td>   -->
					<td>
						<form method="post" action="#" th:action="@{/metadata}">
							<input type="submit" name="submit" value="View table properties"
								onclick="myfn()" class="show_btn" />
						</form>
					</td>

				</tr>
			</table>
		</div>
		<div class="column right">
			</div>
		</div>
		<script>
			function myfn() {
				var id = document.getElementById("click");

				id.style.display = "block";

				/*	var org=document.getElementById("organizations");
				
				 org.style.display="block";
				 alert("Clicked element is "+id);*/

			}
		</script>
</body>
</html>