<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Information Schema Metadata</title>
<link rel="stylesheet" href="/style2.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="wrapper">
		<div class="navbar">
			<h1 style="text-align: center;">Automatic code generation</h1>
			<h2 style="text-align: center;">This is an app which provides a
				simple user interface for users to generate code automatically to
				build a spring boot app</h2>

		</div>
		<div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<a href="/index">Index</a>
		</div>
		<span
			style="font-size: 30px; cursor: pointer; color: rgb(49, 75, 117)"
			onclick="openNav()">&#9776; open </span> <br> <br>

		<div class="column left">

			<br>
			<table style="text-align: center; margin: auto;">
				<tr>
					<th>Database Name:</th>
					<td><p th:text="${host=='localhost'}? 'localhost':'test'"></p></td>
				</tr>
				<tr>
					<th>Schema Name:</th>
					<td><p th:text="${schema_name}"></p></td>
				</tr>
				<tr>
					<th>User Name:</th>
					<td><p>root</p></td>
				</tr>
				<tr>
					<th>Password:</th>
					<td><p th:text="${password}"></p></td>
				</tr>
				<tr>
					<th>Selected tables are:</th>
					<td>
						<div th:each="i:${nameList}">
							<p th:text="${i}"></p>
						</div>
					</td>
				</tr>
				<tr>
					<th>Date:</th>
					<td>
						<p th:text="${date}"></p>
					</td>
				</tr>
			</table>

		</div>

		<div class="column right" style="width:40%;background-color:rgba(0,0,0,0.1);padding:0 0 30px 30px;">
			<form method="post" th:action="@{/finishExec/__${schema_name}__/__${host}__}" style="padding:20px;">
				<label style="font-family: Arial Black; color: rgb(49, 75, 117); text-shadow: 2px 2px 2px grey;">Application
					has been generated. Click below to generate java code</label><br>
				<br> <input type="submit" name="submit" value="Generate" class="show_btn" />
			</form>
			
			<br>
			<i th:if="${done}" style="display:inline" id="done">
				<i class="fa fa-thumbs-up" style="font-size:34px;display:inline"></i>
				<p th:text="${done}" style="display:inline"></p><br>
				<form method="post" th:action="@{/downloadCode/__${zip_name}__}">
					<input type="submit" name="submit" value="Click here to download code" class="show_btn" />
				</form>
			</i>
			<p th:text="${zipped}"></p>
			

		</div>

	</div>

	<script>
		function openNav() {
			document.getElementById("mySidenav").style.width = "250px";
		}
		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
		}
		
		
	</script>
</body>
</html>