<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>title</title>
<link rel="stylesheet" href="/style.css" />
</head>
<body>
	<form method="post" action="/saveUser">
		<label>Enter id number</label><br> <input type="number" name="id" /><br>
		<label>Enter name</label><br> <input type="text" name="name" /><br>
		<label>Enter address</label><br> <input type="text"
			name="address" /><br> <label>Enter age</label><br> <input
			type="number" name="age" /><br>
		<br> <input type="submit" name="submit" />
	</form>

	<p th:text="${saved}"></p>
	<br>
	<br>
	<form method="post" action="/showUsers">
		<label>See all users</label><br> <input type="submit"
			name="submit" />
	</form>
	<br>
	<br>
	<form method="post" action="/showColDef">
		<label>Click below to see column information of user table:</label><br>
		<input type="submit" name="submit" />
	</form>
	<br>
	<br>
	<table>
		<tr>
			<th>column_name</th>
			<th>clustering_order</th>
			<th>kind</th>
			<th>type</th>
		</tr>
		<tr th:each="i:${colInfo}">
			<td th:text="${i.get('Column_Name')}"></td>
			<td th:text="${i.get('Clustering_Order')}"></td>
			<td th:text="${i.get('Kind')}"></td>
			<td th:text="${i.get('Type')}"></td>
		</tr>
		<!-- <tr th:text="${colInfo}"></tr> -->
	</table>
	<br><br>
	<form method="post" action="/genPojo">
		<label>Click below generate Pojo</label><br>
		<input type="submit" name="submit" />
	</form>
</body>
</html>