@charset "ISO-8859-1";

/* body
{
	background-color:whitesmoke;
} */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
   
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("/shutterstock1.jfif");
  /* Add the blur effect */
  filter: blur(10px);
  -webkit-filter: blur(7px);
  opacity: 0.5;
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.bg-image2
{
	/* The image used */
  background-image: url("/shutterstock2.jfif");
  /* Add the blur effect */
  filter: blur(10px);
  -webkit-filter: blur(7px);
  opacity: 0.5;
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-text
{
	z-index:2;
	top:0;
	left:0;
}

table
{
	border:1px solid grey;
	border-collapse:collapse;
	border-radius:5px;
	box-shadow:3px 3px 2px grey;
	padding:15px;
	margin-left:5px;
	font-family:Arial Black;
	color:rgb(49, 75, 117);
	text-shadow:1px 1px 1px grey;
}
th
{
	border:1px solid grey;
	border-collapse:collapse;
	padding:15px;
	margin-left:5px;
	font-family:Arial Black;
	color:rgb(49, 75, 117);
	text-shadow:1px 1px 1px grey;
}
td
{
	border:1px solid grey;
	border-collapse:collapse;
	padding:15px;
	margin-left:5px;
	font-family:Arial Black;
	color:rgb(69, 74, 81);
	text-shadow:2px 2px 2px grey;
}

tr:nth-child(even)
{
	background-color:rgba(0,0,0,0.1);
}

.banner
{
	z-index:2;
	top:0;
	left:2%;
	width:97%;
	position:absolute;
	overflow: hidden;
	background-color:rgba(0,0,0,0.1);
	background-blend-mode: lighten;
	border-radius:7px;
	padding: 10px 10px 0 10px;
	background-attachment: fixed;
}
.navbar
{
	z-index:2;
	top:34%;
	left:2%;
	width:97%;
	
	position:absolute;
	overflow: visible;
	background-color:rgba(0,0,0,0.1);
	background-blend-mode: lighten;
	border-radius:7px;
	padding: 8px 8px 8px 8px;
	background-attachment: fixed;
}
.navbar a
{
	float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    border-left:1px outset grey;
    border-right:1px inset grey;
   /*  background-color:rgba(0,0,0,0.1); */
}




.navbar a:hover
{
	opacity:0.7;
	cursor:pointer;
}
.navbar .search-container {
  float: right;
  padding-bottom:3px;
}

.navbar input[type=text] {
  padding: 6px;
  
  margin-top: 8px;
  font-size: 17px;
  border: none;
  margin-right:15px;
}

.navbar .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: rgba(80, 86, 96, 0.5);
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius:8px;
}
.navbar .search-container button:hover {
  opacity:0.7;
}

.navbar input[type=text] {
    border: 1px solid #ccc;  
  }

.wrapper
{
	/* background-color:rgba(0,0,0,0.1); */
	z-index:2;
	top:44%;
	left:2%;
	width:97%;
	border-radius:7px;
	position:absolute;
	padding:15px 0 15px 15px;
	background-attachment: fixed;
}

input[type="submit"]
{
	width:auto;
	height:40px;
	border: 1px solid rgb(171, 176, 186);
	border-radius:4px;
	padding:4px;
	margin-left:5px;
	cursor:pointer;
	background-color:rgba(29, 61, 112, 0.7);
	color:white;
	box-shadow:3px 3px 2px grey;
}
input[type="submit"]:hover
{
	opacity:0.9;
	cursor:pointer;
}
.columnLeft
{
	float:left;
	position:absolute;
	width:34%;
	padding-bottom:10px;
	padding-top:10px;
/*  border-top: 1px solid grey;
	 border-right: 1px solid grey;
	border-bottom: 1px solid grey; */
}
.columnRight
{
	float:right;
	right: 0;
	width:62%;
	position:absolute;
	overflow-x: scroll;
}
.seperator
{
	top:15%;
	width:3px;
	height:1500px;
	float:left;
	left:34%;
	border-left: 1px solid grey;
	position:relative;
	/* border: 1px solid grey; */
}

.container {
  display: block;
  display:inline;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 2px solid rgb(100, 103, 107);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  /* background-color: #2196F3; */
  background-color: rgba(38, 39, 40,0.9);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* input[type="checkbox"]
{
	height:20px;
	width:20px;
	border: 1px solid darkblue;
}
 */
 
 #thumbsup
 {
 	font-size:34px;
 	/* object-fit:contain; */
 	display:inline;
 	/* border:none;
 	background-color:white; */
 	color:black;
 }
 
 input[type="text"]
{
	width:270px;
	height:40px;
	box-shadow:2px 2px 2px grey;
	border: 2px solid rgb(46, 73, 117);
	border-radius:4px;
	background-color: rgba(0,0,0,0.1);
	font-family:Arial Black;
	color:rgb(49, 75, 117);
}
 input[type="number"]
{
	width:270px;
	height:40px;
	box-shadow:2px 2px 2px grey;
	border: 2px solid rgb(46, 73, 117);
	border-radius:4px;
	background-color: rgba(0,0,0,0.1);
	font-family:Arial Black;
	color:rgb(49, 75, 117);
}
.imgContainer
{
	display:block;
	display:inline;
	background:none;
	display:none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(63, 78, 102);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
 /* color: #818181;*/
 color:white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: light grey;
  opacity:0.8;
  cursor:pointer;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor:pointer;
}

.dropdown {
  float: right;
  overflow: hidden;

}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(0,0,0,0.1);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  
}



.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* .dropdown:hover .dropdown-content {
  display: block;
} */